header {
  height: $headerHeight;
  background-color: $mainColorBg;
  color: $mainColorFont;

  h1 {
    line-height: $headerHeight;
  }
}

.no_style_list {
  list-style: none;

  li {
    font-size: 30px;

    strong {
      text-transform: uppercase;
    }
  }
}
